<div class="signIn-wrapper flex justify-content-center align-items-center flex-column">
    <h2 class="text-center mb-2">Welcome<span style="color: #29664B;"> Back</span></h2>
    <form class="flex flex-column gap-2 w-50" [formGroup]="formGourp" (ngSubmit)="login()">
        <input type="username" class="form-control" id="username" placeholder="username" formControlName="username">
        <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
        <button class="btn-green rounded py-2 button">Sign In</button>
    </form>
    <div class="text-center mt-3">Don't have an account? <a class="anchor" (click)="navigateToSignup()">Sign Up</a></div>
</div>
