<div class="signIn-wrapper flex justify-content-center align-items-center flex-column">
    <h2 class="text-center mb-2">Create <span style="color: #29664B;">Account</span></h2>
    <form class="flex flex-column gap-2 w-50">
        <input type="email" class="form-control" id="email" placeholder="email@example.com">
        <input type="password" class="form-control" id="password" placeholder="password">
        <button class="btn-green rounded py-2 button">Sign In</button>
    </form>
    <div class="text-center mt-3">Don't have an account? <a class="anchor" (click)="navigateToSignup()">Sign Up</a></div>
</div>
