.discover-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.image-container{
    padding: 10px 20px;
    position: relative;
    width: 100%;
    height: 30%;
    background: url("../../../../../assets/images/imagebanner.png");
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;

}

.text{
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.books-container{
    flex-grow: 1;
    overflow-y: auto;
}
.books{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.book{
    display: flex;
    flex-direction: column;
    width: 120px;
    
}
.book-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.book-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    text-transform: capitalize;
}
.book-author{
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: capitalize;
    margin-top: 3px;
}

.anchors {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.upper{
    font-size: 30px;
    font-weight: 700;

}

.lower{
    font-weight: 600;
}
.price{
    color: red;
    text-decoration: line-through;
}